body {
    margin: 30px auto;
    width: 80%;
    background-color: white
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #433aa3;
    font-size: 60px
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font-size: 60px
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #433aa3;
  display: block;
  width: 200px;
  font-size: 60px
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  background: #efccff;
}
.left {
float: left;
padding: 0 20px 20px 0;
}
#menu {
  position: fixed;
  left: 0;
  top:10%;
  width: 8em;
  margin-top: -2.5em;
}
.blockquote {
    width: 80%;
    margin: 0 auto;
    margin-left: 220px;
    margin-top: 200px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
.blockquote2 {
    width: 80%;
    margin: 0 auto;
    margin-left: 220px;
    margin-top: 400px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
span {
    display: inline-block;
}
pre {
   font-family: "courier new", courier, monospace;

    white-space: pre-line;
    
}
